<h1>Products#index</h1>
<%= link_to 'Download CSV', products_path(format: "csv") %>

<table class="table">
<% @products.order("special_offer DESC").each do |product| %>
  <tr>
		<td><%= product.code %><br /><%= product.name %></td>
		<td><%= product.short_description %></td>
		<td>
			<%= product.retailprice.to_i %><br />
			<span class="akcija"><%= product.special_offer %></span>
		</td>
		<td><%= image_tag(product.image_url, height:"100", width:"100") %></td>
  </tr>
<% end %>
</table>
